<tr>
    @*<td><b>@qdrItem.IdCurrencyFaceValue</b> </td>*@
    <td><b>@qdrItemM.IdMachine</b> </td>
    <td><b>@qdrItemM.SN</b> </td>
    <td><b>@qdrItemM.FaceValue</b> </td>
    <td><b>@qdrItemM.CountedCount.ToString("### ### ### ###")</b> </td>
    <td><b>@qdrItemM.Count.ToString("### ### ### ###")</b> </td>
    <td><b>@qdrItemM.QualityValue</b> </td>
    <td><b>@qdrItemM.Symbol</b> </td>
    <td><b>@qdrItemM.ModeValue</b> </td>

</tr>
@code {
    [Parameter] public QualityDetailReportAndMachineDTO qdrItemM { get; set; }
}
