<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead class="bg-light">
            <tr style="background-color:cadetblue">
                <th><b>ID</b></th>
                <th><b>Nazwa pliku</b></th>
                <th><b>Powodzenie</b></th>
                <th><b>Opis błędu</b></th>
                <th><b>Data</b></th>
                <th><b>Id zliczenia</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in fh)
            {
                <tr>
                    <td>@item.IdFileHistory</td>
                    <td>@item.FileName</td>
                    <td>@item.IsProceededSuccess</td>
                    <td>@item.ErrorDescription</td>
                    <td>@item.ProcessDate</td>
                    <td>@item.IdCountResult</td>

                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    [Parameter] public List<FileHistoryDTO> fh { get; set; }
}
