@page "/qualitypageandmachines"
@inject HttpClient http
@if (qdrm == null)
{
    <LoadingData DisplayMessage="false"></LoadingData>
}
else if (qdrm.Length == 0)
{
    <text> Brak danych do wyświetlenia </text>
}
else
{
    <h3>Raport jakościowy banknotów z uwzględnieniem urządzeń liczących</h3>
    <br />
    <TableTemplate ReportItems="qdrm">
        <TableHeader>
            <th><b>Id.Urządzenia</b></th>
            <th><b>Nr.Seryjny</b></th>
            <th><b>Wrt. nominału</b></th>
            <th><b>Łączna ilość nominału</b></th>
            <th><b>Ilość z kryterium</b></th>
            <th><b>Kryterium</b></th>
            <th><b>Waluta</b></th>
            <th><b>Tryb</b></th>
        </TableHeader>
        <RowTemplate Context="qdrItemM">
            <tr>
                <td><b>@qdrItemM.IdMachine</b> </td>
                <td><b>@qdrItemM.SN</b> </td>
                <td><b>@qdrItemM.FaceValue</b> </td>
                <td><b>@qdrItemM.CountedCount.ToString("### ### ### ###")</b> </td>
                <td><b>@qdrItemM.Count.ToString("### ### ### ###")</b> </td>
                <td><b>@qdrItemM.QualityValue</b> </td>
                <td><b>@qdrItemM.Symbol</b> </td>
                <td><b>@qdrItemM.ModeValue</b> </td>
            </tr>
        </RowTemplate>
    </TableTemplate>


    <br />

    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" href="/reportstochoose">Wróć do poprzedniej storny</a>
    </nav>
}

@code {

    QualityDetailReportAndMachineDTO[] qdrm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        qdrm = await http.GetJsonAsync<QualityDetailReportAndMachineDTO[]>("api/QualityDetailAndMachine/Get/2/2/2020-01-01/2020-04-01");

    }
}
